<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter Details</title>
</head>
<body>
    <h1>Enter the details</h1>
    <form method="POST" action="/" id="data-form">
        <input type="radio" name="ID" value="student_id" />
        <label>StudentID</label>
        <input type="radio" name="ID" value="course_id" />
        <label>CourseID</label>
        <input type="text" name="id_value" />
        <input type="submit" value="Submit" />
    </form>
</body>
</html>